In [272]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [273]:
df = pd.read_csv('horse_result.csv')

In [274]:
df.shape

(64547, 26)

In [275]:
# training_time、stables_comment、comment、time_param列は不要のため、削除
# 列に沿った処理はaxis=0
# 行に沿った処理はaxis=1
# 引数 inplace を Trueにすると元のフレームが変更される 
df.drop(labels=["training_time","stables_comment", "comment", "time_param"], axis=1, inplace=True)

In [276]:
# 列単位で 欠損値NaN(not a number)が入っている個数をカウントする （正確には、isnull()でtrueが返ってくる個数をカウントしている）
df.isnull().sum()

date                 0
distance             0
weather              0
ground               0
ground_status        0
result_rank          0
frame_number         0
horse_number         0
horse_name           0
age                  0
loaf_weight          0
player               0
time               531
margin            5181
passage            386
up                 535
tansyo               0
popular            272
weight               0
trainer              0
horse_owner          0
money            41290
dtype: int64

In [277]:
# money列の欠損値は0に補正
df.fillna(value={'money': 0.0}, inplace=True)

In [278]:
df.isnull().sum()

date                0
distance            0
weather             0
ground              0
ground_status       0
result_rank         0
frame_number        0
horse_number        0
horse_name          0
age                 0
loaf_weight         0
player              0
time              531
margin           5181
passage           386
up                535
tansyo              0
popular           272
weight              0
trainer             0
horse_owner         0
money               0
dtype: int64

In [279]:
# 1つでもNaNが含まれる行だけを抽出（最初の5行のみ表示）
print(df[df.isnull().any(axis=1)].shape)
df[df.isnull().any(axis=1)].head()

(5185, 22)

,date,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,horse_name,age,...,time,margin,passage,up,tansyo,popular,weight,trainer,horse_owner,money
0,2015/12/27,1200,晴,ダート,稍重,1,4,7,ボーサンシー,牡2,...,1:12.6,NaN,1-1,37.2,2.1,1.0,508(-6),[西] 池添学,吉田和美,500.0
16,2015/12/27,1800,晴,ダート,稍重,1,2,3,ロードボアソルテ,牡2,...,1:54.3,NaN,5-4-5-4,38.1,5.4,4.0,464(-2),[西] 松下武士,ロードホースクラブ,500.0
31,2015/12/27,1400,晴,芝,良,1,4,8,スナークスカイ,牡2,...,1:24.4,NaN,7-5,36.6,64.2,11.0,450(0),[西] 川村禎彦,杉本豊,500.0
49,2015/12/27,2970,曇,芝,良 ダート,1,4,5,ウインアーマー,牡3,...,3:24.1,NaN,2-3-1-2,13.7,12.2,5.0,462(+20),[西] 中村均,ウイン,700.0
63,2015/12/27,1800,晴,芝,良,1,8,16,ジークカイザー,牡2,...,1:49.8,NaN,6-6,35.6,5.3,3.0,476(0),[西] 池江泰寿,キャロットファーム,700.0

In [280]:
# marginも不要そうなので、いったん削除
df.drop(labels=["margin"], axis=1, inplace=True)

In [281]:
df.isnull().sum()

date               0
distance           0
weather            0
ground             0
ground_status      0
result_rank        0
frame_number       0
horse_number       0
horse_name         0
age                0
loaf_weight        0
player             0
time             531
passage          386
up               535
tansyo             0
popular          272
weight             0
trainer            0
horse_owner        0
money              0
dtype: int64

In [282]:
# up列を平均値で補正
df['up'] = df['up'].fillna(df['up'].mean())
# popular列を平均値で補正
df['popular'] = df['popular'].fillna(df['popular'].mean())

In [283]:
# passageも不要そうなので削除
df.drop(labels=["passage"], axis=1, inplace=True)

In [284]:
df.isnull().sum()

date               0
distance           0
weather            0
ground             0
ground_status      0
result_rank        0
frame_number       0
horse_number       0
horse_name         0
age                0
loaf_weight        0
player             0
time             531
up                 0
tansyo             0
popular            0
weight             0
trainer            0
horse_owner        0
money              0
dtype: int64

In [285]:
# timeが欠損値のものを直前の値に補正
df['time'] = df['time'].fillna(method = 'ffill')

In [286]:
df.isnull().sum()

date             0
distance         0
weather          0
ground           0
ground_status    0
result_rank      0
frame_number     0
horse_number     0
horse_name       0
age              0
loaf_weight      0
player           0
time             0
up               0
tansyo           0
popular          0
weight           0
trainer          0
horse_owner      0
money            0
dtype: int64

In [287]:
df.head(10)

,date,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,horse_name,age,loaf_weight,player,time,up,tansyo,popular,weight,trainer,horse_owner,money
0,2015/12/27,1200,晴,ダート,稍重,1,4,7,ボーサンシー,牡2,53.0,鮫島克駿,1:12.6,37.2,2.1,1.0,508(-6),[西] 池添学,吉田和美,500.0
1,2015/12/27,1200,晴,ダート,稍重,2,4,8,グランジュテ,牝2,52.0,城戸義政,1:12.7,37.1,15.0,5.0,436(0),[西] 田中章博,日進牧場,200.0
2,2015/12/27,1200,晴,ダート,稍重,3,8,16,ジランドラ,牡2,55.0,酒井学,1:13.1,37.4,19.8,7.0,532(0),[西] 岡田稲男,前田葉子,130.0
3,2015/12/27,1200,晴,ダート,稍重,4,8,15,オモロイシャチョウ,牡2,55.0,和田竜二,1:13.2,36.9,4.9,2.0,504(-10),[西] 野中賢二,ミキハウスＨＫサービス,75.0
4,2015/12/27,1200,晴,ダート,稍重,5,5,9,オリエンタルローズ,牝2,54.0,幸英明,1:13.3,36.9,8.2,4.0,492(+10),[西] 福島信晴,山口多賀司,50.0
5,2015/12/27,1200,晴,ダート,稍重,6,2,4,キタノタイセツ,牝2,52.0,義英真,1:13.5,37.7,128.0,12.0,412(-2),[西] 作田誠二,福本次雄,0
6,2015/12/27,1200,晴,ダート,稍重,7,7,13,スプレーモゲレイロ,牡2,55.0,藤岡康太,1:13.8,37.7,90.6,11.0,448(-6),[西] 佐藤正雄,ヒダカ・ブリーダーズ・ユニオン,0
7,2015/12/27,1200,晴,ダート,稍重,8,1,1,ライディングハイ,牝2,54.0,中谷雄太,1:14.2,38.5,33.4,8.0,476(-8),[西] 矢作芳人,下河辺牧場,0
8,2015/12/27,1200,晴,ダート,稍重,9,5,10,タマモブレスレット,牝2,54.0,秋山真一,1:14.3,37.6,17.8,6.0,434(0),[西] 藤沢則雄,タマモ,0
9,2015/12/27,1200,晴,ダート,稍重,10,6,11,シーザワールド,牡2,55.0,川須栄彦,1:14.5,37.6,71.4,10.0,486(-2),[西] 武田博,石川達絵,0

In [288]:
print('columnの確認==>\n', df.columns)

columnの確認==>
 Index(['date', 'distance', 'weather', 'ground', 'ground_status', 'result_rank',
       'frame_number', 'horse_number', 'horse_name', 'age', 'loaf_weight',
       'player', 'time', 'up', 'tansyo', 'popular', 'weight', 'trainer',
       'horse_owner', 'money'],
      dtype='object')

In [289]:
print('dataframeの各列のデータ型を確認==>\n', df.dtypes)

dataframeの各列のデータ型を確認==>
 date              object
distance           int64
weather           object
ground            object
ground_status     object
result_rank       object
frame_number       int64
horse_number       int64
horse_name        object
age               object
loaf_weight      float64
player            object
time              object
up               float64
tansyo            object
popular          float64
weight            object
trainer           object
horse_owner       object
money             object
dtype: object

In [290]:
# date列をインデックスにする
df.set_index('date', inplace=True)
df.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,horse_name,age,loaf_weight,player,time,up,tansyo,popular,weight,trainer,horse_owner,money
date,,,,,,,,,,,,,,,,,,,
2015/12/27,1200,晴,ダート,稍重,1,4,7,ボーサンシー,牡2,53.0,鮫島克駿,1:12.6,37.2,2.1,1.0,508(-6),[西] 池添学,吉田和美,500.0
2015/12/27,1200,晴,ダート,稍重,2,4,8,グランジュテ,牝2,52.0,城戸義政,1:12.7,37.1,15.0,5.0,436(0),[西] 田中章博,日進牧場,200.0
2015/12/27,1200,晴,ダート,稍重,3,8,16,ジランドラ,牡2,55.0,酒井学,1:13.1,37.4,19.8,7.0,532(0),[西] 岡田稲男,前田葉子,130.0
2015/12/27,1200,晴,ダート,稍重,4,8,15,オモロイシャチョウ,牡2,55.0,和田竜二,1:13.2,36.9,4.9,2.0,504(-10),[西] 野中賢二,ミキハウスＨＫサービス,75.0
2015/12/27,1200,晴,ダート,稍重,5,5,9,オリエンタルローズ,牝2,54.0,幸英明,1:13.3,36.9,8.2,4.0,492(+10),[西] 福島信晴,山口多賀司,50.0

In [291]:
# indexのデータ型を確認
df.index

Index(['2015/12/27', '2015/12/27', '2015/12/27', '2015/12/27', '2015/12/27',
       '2015/12/27', '2015/12/27', '2015/12/27', '2015/12/27', '2015/12/27',
       ...
       '2018/2/24', '2018/2/24', '2018/2/24', '2018/2/24', '2018/2/24',
       '2018/2/24', '2018/2/24', '2018/2/24', '2018/2/24', '2018/2/24'],
      dtype='object', name='date', length=64547)

In [292]:
# indexであるdateのdtype='object'をdtype='datatime64[ns]'に変更
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')

In [293]:
# indexのデータ型を確認
df.index

DatetimeIndex(['2015-12-27', '2015-12-27', '2015-12-27', '2015-12-27',
               '2015-12-27', '2015-12-27', '2015-12-27', '2015-12-27',
               '2015-12-27', '2015-12-27',
               ...
               '2018-02-24', '2018-02-24', '2018-02-24', '2018-02-24',
               '2018-02-24', '2018-02-24', '2018-02-24', '2018-02-24',
               '2018-02-24', '2018-02-24'],
              dtype='datetime64[ns]', name='date', length=64547, freq=None)

In [294]:
# 日付でソート
df.sort_index(inplace=True)

In [295]:
df.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,horse_name,age,loaf_weight,player,time,up,tansyo,popular,weight,trainer,horse_owner,money
date,,,,,,,,,,,,,,,,,,,
2015-02-28,1600,晴,芝,良,6,5,6,ヤマカツエース,牡3,56.0,池添謙一,1:36.1,34.3,41.0,10.0,492(0),[西] 池添兼雄,山田和夫,0
2015-02-28,1200,晴,ダート,稍重,6,5,9,トリックデック,牡4,57.0,岩田康誠,1:12.4,36.9,4.8,2.0,476(0),[西] 松永幹夫,前田幸治,0
2015-02-28,1200,晴,ダート,稍重,7,5,10,ルスナイプリンセス,牝4,55.0,松田大作,1:12.4,36.6,53.2,9.0,484(-20),[西] 飯田祐史,高昭牧場,0
2015-02-28,1200,晴,ダート,稍重,8,2,3,サンライズシルバー,牡5,57.0,武豊,1:12.7,36.9,24.3,7.0,474(0),[西] 音無秀孝,松岡隆雄,0
2015-02-28,1200,晴,ダート,稍重,9,7,14,ローエンイェーガー,牡4,57.0,和田竜二,1:12.8,37.2,23.1,6.0,534(+12),[東] 岩戸孝樹,岡田牧雄,0

In [296]:
df['ground'].unique()

array(['芝', 'ダート'], dtype=object)

In [297]:
df['ground_status'].unique()

array(['良', '稍重', '重', '稍重  ダート', '不良', '良  ダート', '重  ダート'], dtype=object)

In [298]:
# ground_statusの値を変更
df.loc[df['ground_status'] == '良  ダート' , 'ground_status'] = '良'
df.loc[df['ground_status'] == '重  ダート' , 'ground_status'] = '重'
df.loc[df['ground_status'] == '稍重  ダート' , 'ground_status'] = '稍重'

In [299]:
df['ground_status'].unique()

array(['良', '稍重', '重', '不良'], dtype=object)

In [300]:
df['ground'].unique()

array(['芝', 'ダート'], dtype=object)

In [301]:
# player、trainer、horse_owner、は不要のため、削除
# 引数 inplace を Trueにすると元のフレームが変更される 
df.drop(labels=["player","trainer", "horse_owner"], axis=1, inplace=True)

In [302]:
# horse_nameは不要のため、削除
# 引数 inplace を Trueにすると元のフレームが変更される 
df.drop(labels=["horse_name"], axis=1, inplace=True)

In [303]:
df.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,age,loaf_weight,time,up,tansyo,popular,weight,money
date,,,,,,,,,,,,,,,
2015-02-28,1600,晴,芝,良,6,5,6,牡3,56.0,1:36.1,34.3,41.0,10.0,492(0),0
2015-02-28,1200,晴,ダート,稍重,6,5,9,牡4,57.0,1:12.4,36.9,4.8,2.0,476(0),0
2015-02-28,1200,晴,ダート,稍重,7,5,10,牝4,55.0,1:12.4,36.6,53.2,9.0,484(-20),0
2015-02-28,1200,晴,ダート,稍重,8,2,3,牡5,57.0,1:12.7,36.9,24.3,7.0,474(0),0
2015-02-28,1200,晴,ダート,稍重,9,7,14,牡4,57.0,1:12.8,37.2,23.1,6.0,534(+12),0

In [304]:
df['age'].unique()

array(['牡3', '牡4', '牝4', '牡5', '牝5', '牡6', '牝6', '牡7', '牡9', '牡11', '牝3',
       'セ6', 'セ4', 'セ5', '牡8', 'セ3', 'セ9', 'セ7', '牡10', '牝8', '牝7', '牝2',
       '牡2', 'セ8', 'セ2', 'セ10', '牝9'], dtype=object)

In [305]:
# age列を性別と年齢に分割する

# male列を作成し'牡'のものだけ1にする
male = df['age'].str.extract('(牡)', expand=True)
male.columns ={"male"}
df = pd.concat([df, male], axis=1)
df.loc[df['male'] == '牡' , 'male'] = '1'
df.fillna(value={'male': 0}, inplace=True)

# female列を作成し'牝'のものだけ1にする
female = df['age'].str.extract('(牝)', expand=True)
female.columns ={"female"}
df = pd.concat([df, female], axis=1)
df.loc[df['female'] == '牝' , 'female'] = '1'
df.fillna(value={'female': 0}, inplace=True)

# gelding列を作成し'セ'のものだけ1にする
gelding = df['age'].str.extract('(セ)', expand=True)
gelding.columns ={"gelding"}
df = pd.concat([df, gelding], axis=1)
df.loc[df['gelding'] == 'セ' , 'gelding'] = '1'
df.fillna(value={'gelding': 0}, inplace=True)

#age列から不要文字を削除し年齢だけにする
df['age'] = df['age'].str.strip('牡''牝''セ')

In [306]:
df.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,age,loaf_weight,time,up,tansyo,popular,weight,money,male,female,gelding
date,,,,,,,,,,,,,,,,,,
2015-02-28,1600,晴,芝,良,6,5,6,3,56.0,1:36.1,34.3,41.0,10.0,492(0),0,1,0,0
2015-02-28,1200,晴,ダート,稍重,6,5,9,4,57.0,1:12.4,36.9,4.8,2.0,476(0),0,1,0,0
2015-02-28,1200,晴,ダート,稍重,7,5,10,4,55.0,1:12.4,36.6,53.2,9.0,484(-20),0,0,1,0
2015-02-28,1200,晴,ダート,稍重,8,2,3,5,57.0,1:12.7,36.9,24.3,7.0,474(0),0,1,0,0
2015-02-28,1200,晴,ダート,稍重,9,7,14,4,57.0,1:12.8,37.2,23.1,6.0,534(+12),0,1,0,0

In [307]:
df.dtypes

distance           int64
weather           object
ground            object
ground_status     object
result_rank       object
frame_number       int64
horse_number       int64
age               object
loaf_weight      float64
time              object
up               float64
tansyo            object
popular          float64
weight            object
money             object
male              object
female            object
gelding           object
dtype: object

In [308]:
# timeを秒にする
df['time'] = pd.to_datetime(df['time'], format='%M:%S.%f')
df['time'] = pd.to_datetime(df['time'], format='%M:%S.%f') - pd.to_datetime('00:00.0', format='%M:%S.%f')
df['time'] = df['time'].dt.total_seconds()
df.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,age,loaf_weight,time,up,tansyo,popular,weight,money,male,female,gelding
date,,,,,,,,,,,,,,,,,,
2015-02-28,1600,晴,芝,良,6,5,6,3,56.0,96.1,34.3,41.0,10.0,492(0),0,1,0,0
2015-02-28,1200,晴,ダート,稍重,6,5,9,4,57.0,72.4,36.9,4.8,2.0,476(0),0,1,0,0
2015-02-28,1200,晴,ダート,稍重,7,5,10,4,55.0,72.4,36.6,53.2,9.0,484(-20),0,0,1,0
2015-02-28,1200,晴,ダート,稍重,8,2,3,5,57.0,72.7,36.9,24.3,7.0,474(0),0,1,0,0
2015-02-28,1200,晴,ダート,稍重,9,7,14,4,57.0,72.8,37.2,23.1,6.0,534(+12),0,1,0,0

In [309]:
# weight列の不要な部分を削除
df['weight'] = df['weight'].str.extract('(\w+)', expand=False)

In [310]:
df.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,age,loaf_weight,time,up,tansyo,popular,weight,money,male,female,gelding
date,,,,,,,,,,,,,,,,,,
2015-02-28,1600,晴,芝,良,6,5,6,3,56.0,96.1,34.3,41.0,10.0,492,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,6,5,9,4,57.0,72.4,36.9,4.8,2.0,476,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,7,5,10,4,55.0,72.4,36.6,53.2,9.0,484,0,0,1,0
2015-02-28,1200,晴,ダート,稍重,8,2,3,5,57.0,72.7,36.9,24.3,7.0,474,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,9,7,14,4,57.0,72.8,37.2,23.1,6.0,534,0,1,0,0

In [311]:
# weather、ground、ground_statusをワンホットエンコーディングする
dummy_weather = pd.get_dummies(df['weather'])
dummy_ground = pd.get_dummies(df['ground'])
dummy_ground_status = pd.get_dummies(df['ground_status'])
df_dummy = pd.concat([df, dummy_weather], axis=1)
df_dummy = pd.concat([df_dummy, dummy_ground], axis=1)
df_dummy = pd.concat([df_dummy, dummy_ground_status], axis=1)
df_dummy.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,age,loaf_weight,time,...,小雪,晴,曇,雨,ダート,芝,不良,稍重,良,重
date,,,,,,,,,,,,,,,,,,,,,
2015-02-28,1600,晴,芝,良,6,5,6,3,56.0,96.1,...,0,1,0,0,0,1,0,0,1,0
2015-02-28,1200,晴,ダート,稍重,6,5,9,4,57.0,72.4,...,0,1,0,0,1,0,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,7,5,10,4,55.0,72.4,...,0,1,0,0,1,0,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,8,2,3,5,57.0,72.7,...,0,1,0,0,1,0,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,9,7,14,4,57.0,72.8,...,0,1,0,0,1,0,0,1,0,0

In [312]:
df_dummy.dtypes

distance           int64
weather           object
ground            object
ground_status     object
result_rank       object
frame_number       int64
horse_number       int64
age               object
loaf_weight      float64
time             float64
up               float64
tansyo            object
popular          float64
weight            object
money             object
male              object
female            object
gelding           object
小雨                 uint8
小雪                 uint8
晴                  uint8
曇                  uint8
雨                  uint8
ダート                uint8
芝                  uint8
不良                 uint8
稍重                 uint8
良                  uint8
重                  uint8
dtype: object

In [313]:
# カラム名を変更する
df_dummy.rename(columns={'小雨': 'weather_light_rain'}, inplace=True)
df_dummy.rename(columns={'小雪': 'weather_light_snow'}, inplace=True)
df_dummy.rename(columns={'晴': 'weather_sunny'}, inplace=True)
df_dummy.rename(columns={'曇': 'weather_cloudy'}, inplace=True)
df_dummy.rename(columns={'雨': 'weather_rain'}, inplace=True)
df_dummy.rename(columns={'ダート': 'ground_dirt'}, inplace=True)
df_dummy.rename(columns={'芝': 'ground_grass'}, inplace=True)
df_dummy.rename(columns={'不良': 'ground_status_bad'}, inplace=True)
df_dummy.rename(columns={'稍重': 'ground_status_slightly_heavy'}, inplace=True)
df_dummy.rename(columns={'良': 'ground_status_good'}, inplace=True)
df_dummy.rename(columns={'重': 'ground_status_heavy'}, inplace=True)

In [314]:
df_dummy['result_rank'].value_counts()

5       4659
1       4652
3       4652
2       4650
4       4640
6       4634
7       4609
8       4571
9       4403
10      4131
11      3858
12      3471
13      3108
14      2776
15      2475
16      1958
17       440
18       325
中        259
取        143
除        129
3(降)       2
2(降)       2
Name: result_rank, dtype: int64

In [315]:
# 不要な値を含む行を除く
df_dummy = df_dummy[df_dummy['result_rank'] != '中']
df_dummy = df_dummy[df_dummy['result_rank'] != '取']
df_dummy = df_dummy[df_dummy['result_rank'] != '除']
df_dummy = df_dummy[df_dummy['result_rank'] != '3(降)']
df_dummy = df_dummy[df_dummy['result_rank'] != '2(降)']
df_dummy['result_rank'].value_counts()

5     4659
3     4652
1     4652
2     4650
4     4640
6     4634
7     4609
8     4571
9     4403
10    4131
11    3858
12    3471
13    3108
14    2776
15    2475
16    1958
17     440
18     325
Name: result_rank, dtype: int64

In [316]:
df_dummy.head()

,distance,weather,ground,ground_status,result_rank,frame_number,horse_number,age,loaf_weight,time,...,weather_light_snow,weather_sunny,weather_cloudy,weather_rain,ground_dirt,ground_grass,ground_status_bad,ground_status_slightly_heavy,ground_status_good,ground_status_heavy
date,,,,,,,,,,,,,,,,,,,,,
2015-02-28,1600,晴,芝,良,6,5,6,3,56.0,96.1,...,0,1,0,0,0,1,0,0,1,0
2015-02-28,1200,晴,ダート,稍重,6,5,9,4,57.0,72.4,...,0,1,0,0,1,0,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,7,5,10,4,55.0,72.4,...,0,1,0,0,1,0,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,8,2,3,5,57.0,72.7,...,0,1,0,0,1,0,0,1,0,0
2015-02-28,1200,晴,ダート,稍重,9,7,14,4,57.0,72.8,...,0,1,0,0,1,0,0,1,0,0

In [317]:
df_dummy['result_rank'].value_counts()

5     4659
3     4652
1     4652
2     4650
4     4640
6     4634
7     4609
8     4571
9     4403
10    4131
11    3858
12    3471
13    3108
14    2776
15    2475
16    1958
17     440
18     325
Name: result_rank, dtype: int64

In [318]:
# result_rankをintにする
df_dummy['result_rank'] = df_dummy['result_rank'].astype(int)
# 3位以内に入っていた時の特徴量を作成する
df_dummy.loc[df_dummy['result_rank'] <= 3, 'place_top_three'] = '1'

In [319]:
df_dummy.fillna(value={'place_top_three': 0}, inplace=True)

In [320]:
# ワンホットエンコーディングした元の行を削除
df_dummy.drop(labels=["weather","ground", "ground_status", ], axis=1, inplace=True)

In [321]:
df_dummy.head()

,distance,result_rank,frame_number,horse_number,age,loaf_weight,time,up,tansyo,popular,...,weather_sunny,weather_cloudy,weather_rain,ground_dirt,ground_grass,ground_status_bad,ground_status_slightly_heavy,ground_status_good,ground_status_heavy,place_top_three
date,,,,,,,,,,,,,,,,,,,,,
2015-02-28,1600,6,5,6,3,56.0,96.1,34.3,41.0,10.0,...,1,0,0,0,1,0,0,1,0,0
2015-02-28,1200,6,5,9,4,57.0,72.4,36.9,4.8,2.0,...,1,0,0,1,0,0,1,0,0,0
2015-02-28,1200,7,5,10,4,55.0,72.4,36.6,53.2,9.0,...,1,0,0,1,0,0,1,0,0,0
2015-02-28,1200,8,2,3,5,57.0,72.7,36.9,24.3,7.0,...,1,0,0,1,0,0,1,0,0,0
2015-02-28,1200,9,7,14,4,57.0,72.8,37.2,23.1,6.0,...,1,0,0,1,0,0,1,0,0,0

In [323]:
df_dummy.to_csv('clean_result_data.csv', encoding='utf_8', index=False)